
body{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
    text-decoration: none;
}
nav {
    background-color:rgba(44, 63, 80, 1)  ;
    display: flex;
    justify-content: center;
    height: 80px;   
  
}
nav .box{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-right: 200px;
}
nav .box .logo{
    color: white;
    font-size: 26px;
    font-weight: 900;
}

nav .box .nav-links{
    width: 20%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}
nav .box .nav-links a{
    color: white;
    padding: 13px;
}

header{

    text-align: center;
    height: 550px;
    background-color: color(srgb 0.1025 0.7363 0.6143);
}

